---
import HeroBanner from "../../components/HeroBanner.astro";
import {
  BlogPostFrontmatter,
  getBlogPostFullTitle,
} from "../../helpers/blogHelpers";
import AppLayout from "../../layouts/AppLayout.astro";

const allPosts = (await Astro.glob<BlogPostFrontmatter>("./*.mdx")).filter(
  (post) => !post.frontmatter.draft
);

allPosts.sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title));

const gameDesignPosts =
  [] ||
  allPosts.filter((post) => post.frontmatter.tags?.includes("game-design"));
const gameProgrammingPosts =
  [] ||
  allPosts.filter((post) =>
    post.frontmatter.tags?.includes("game-programming")
  );
const mediaAnalysisPosts =
  [] ||
  allPosts.filter((post) => post.frontmatter.tags?.includes("media-analysis"));

const title = "Blog";
---

<AppLayout title={title}>
  <HeroBanner
    patternSrc="url('/images/global/hero-patterns/graph-paper.svg')"
    subtitle={title}
  />

  <div
    class="content-container flexbox-vertical with-responsive-padding-inline"
  >
    {
      allPosts.length > 0 ? (
        <div>
          <ul class="list-without-bullets posts-list">
            {allPosts.map((post) => (
              <li>
                <a class="text-link" href={post.url}>
                  {getBlogPostFullTitle(post.frontmatter)}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ) : (
        <div>
          <p class="empty-message">Coming soon!</p>
        </div>
      )
    }

    {
      gameDesignPosts.length > 0 && (
        <div>
          <h1 class="section-heading">Game Design</h1>

          <ul class="list-without-bullets posts-list">
            {gameDesignPosts.map((post) => (
              <li>
                <a class="text-link" href={post.url}>
                  {getBlogPostFullTitle(post.frontmatter)}
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }

    {
      gameProgrammingPosts.length > 0 && (
        <div>
          <h1 class="section-heading">Game Programming</h1>

          <ul class="list-without-bullets posts-list">
            {gameProgrammingPosts.map((post) => (
              <li>
                <a class="text-link" href={post.url}>
                  {getBlogPostFullTitle(post.frontmatter)}
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }

    {
      mediaAnalysisPosts.length > 0 && (
        <div>
          <h1 class="section-heading">Media Analysis</h1>

          <ul class="list-without-bullets posts-list">
            {mediaAnalysisPosts.map((post) => (
              <li>
                <a class="text-link" href={post.url}>
                  {getBlogPostFullTitle(post.frontmatter)}
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </div>
</AppLayout>

<style>
  .content-container {
    gap: var(--spacing-7);
    padding-block: var(--spacing-7);
    text-align: center;
  }

  .empty-message {
    font-size: var(--font-size-3);
  }

  .section-heading {
    font-size: var(--font-size-5);
    margin-block-end: var(--spacing-3);
  }

  .section-description {
    font-size: var(--font-size-1);
    margin: 0 auto var(--spacing-5) auto;
    max-inline-size: var(--sizing-14);
    text-align: start;
  }

  .posts-list {
    gap: var(--spacing-2);
  }
</style>
